@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* HEADER */
.outer-container {
    border: 3px solid black;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

header {
    background-color: bisque;
overflow: auto;
position: relative;
}


#logo {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 3px solid black;


}

#logo-title  {
    font-size: 120px;
    margin: 0;
    text-align: center;
    font-family: 'Bebas Neue';
    letter-spacing: 7px;
}

@media screen and (max-width: 700PX)   {
    #logo {
        /* display: none; */
        position: relative;
        margin-left: 35%;
    }
    
}

nav {
    text-align: center;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}

nav ul li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 36px;
    padding-right: 40px;
}

a {
    color: black;
    text-decoration: none;
}

nav ul li:hover {
    color: rgb(223, 208, 2);
}

/* ----------- */
/* INTRO AREA */
/* --------- */

.intro-container {
    background-color: khaki;
    overflow: auto;
}

.image-container {
    max-width: 600px;
    margin: 0;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.intro-image {
    max-width: 100%;
    height: auto;
    border-radius: 150px;
    border: solid 8px black;
    box-sizing: border-box;
}

.intro-text {
    max-width: 600px;
    float: left;
    box-sizing: border-box;
    padding: 3%;
}

/* FOOTER AREA */

Footer {
    background-color: bisque;
}

footer p {
    margin: 0;
    text-align: center;
    padding: 12px;
}

/* Gallery AREA */

.gallery-container {
    overflow: auto;
background-color: khaki;
padding-top: 30px;
padding-bottom: 30px;
}


.gallery-image {
    width: 25%;
height: 200px;
float: left;
padding: 5px;
box-sizing: border-box;
outline: solid black 5px;
outline-offset: -10px;
}

@media screen and (max-width: 700PX)   {
    .gallery-image {
        width: 50%;
    }
    
}


/* ABOUT AREA */

.about-container {
    background-color: khaki;
    text-align: center;
    margin: 0;
    padding-top: 20px;


    
}

.about-container p, .about-container h2 {
    margin: 0;

}


.about-text {
    padding: 60px;

}

.about-image {
    background-color: khaki;
    
}